body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cofre-container {
  position: relative;
  width: fit-content;
}

.cofre-img {
  width: 200px;
  display: block;
}

.contador-overlay {
  position: absolute;
  top: 61px; /* ajuste fino depois */
  left: 50%;
  transform: translateX(-50%);
  font-family: 'VT323', monospace;
  font-size: 1.39rem;
  background-color: #caf7f7;
  color: #0f665e;
  padding: 3px 15px;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(91, 181, 187, 0.5);
  letter-spacing: 4px;
}

.painel-interativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input[type="file"] {
  padding: 0.6rem 1.2rem;
  border: 2px dashed #aaa;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

input[type="file"]:hover {
  border-color: #555;
  background-color: #f0f0f0;
}

.status-msg {
  font-size: 1rem;
  color: #333;
}
.entrada-manual {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.entrada-manual input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.entrada-manual button {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.entrada-manual button:hover {
  background-color: #0056b3;
}
